<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:fragment="post-search-bar" id="post-search-bar" class="post-preview">
    <style>
        .search-container {
            position: relative;
        }

        .search-input {
            height: 50px;
            border-radius: 30px;
            padding-left: 35px;
            border: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .search-icon {
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            color: #888;
        }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11 col-xl-11">
                <div class="search-container">
                    <input type="text" id="search-input" class="form-control search-input" placeholder="Search...">
                    <i class="fas fa-search search-icon"></i>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript" type="text/javascript">

        let inputFlag = false;
        let searchInputDom = $("#search-input");

        searchInputDom.on("keyup", function (event) {

            if (event.key === "Enter") {
                searchPostCardList();
            }
        });

        searchInputDom.on("input", function () {

            let searchParam = searchInputDom.val().trim();

            if (searchParam === "" && inputFlag) {
                inputFlag = false;
                lastPublishedAt = ""
                hasNext = true;
                $("#post-card-list").empty();
                getPostCardList();
            }
        });

        function searchPostCardList() {
            inputFlag = true;

            let searchParam = searchInputDom.val().trim();
            if (!searchParam) {

                return;
            }


            $.ajax({
                url: "/api/v1/posts/search?searchParam=" + encodeURIComponent(searchParam),
                method: "get",
                dataType: "json",
                success: (res) => {

                    let postCardList = createPostCardList(res.data);

                    $("#post-card-list").empty();
                    $("#post-card-list").append(postCardList);
                },
                error: (data, status, error) => {
                    alert(data.responseJSON.message)
                    console.log("data : ", data)
                    console.log("status : ", status)
                    console.log("error : ", error)
                }
            });
        }

        function createPostCardList(dataList) {
            let html = '';

            dataList.forEach(data => {
                let postCompany = data.postCompany;
                let hasCompanyInfo = postCompany && postCompany.iconImage && postCompany.iconImage.trim() !== '';

                html += `
            <a href="${data.url}">
                <h2 class="post-title">${data.title}</h2>
                <p class="post-subtitle">${data.summary}</p>
            </a>
            <div class="post-meta-container">
                ${hasCompanyInfo ? `
                    <p class="post-meta">Posted by</p>
                    <img src="${postCompany.iconImage}" alt="Company Icon"/>
                    <p class="post-meta">${postCompany.name}</p>
                    <p class="post-meta"> on ${data.publishedAt}</p>
                ` : `
                    <p class="post-meta">Posted by ${postCompany ? postCompany.name : 'Unknown'} on ${data.publishedAt}</p>
                `}
            </div>
            <hr class="my-4"/>
        `;
            });

            return html;
        }
    </script>
</div>
