<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/Default}"
>
<div layout:fragment="content">

    <div th:replace="~{components/post/PostCardSearch::post-search-bar}"></div>
    <br/>
    <div id="post-card-list" class="post-preview">
    </div>


    <script th:inline="javascript" type="text/javascript">

        let lastPublishedAt = `[[${lastPublishedAt}]]`.replaceAll("\"", "");
        let pageSize = `[[${pageSize}]]`;
        let hasNext = true;
        let isFetching = false;

        $(document).ready(
            () => {
                getPostCardList();
            }
        )
        window.addEventListener("scroll", function () {


            if (hasNext === false) {
                return;
            }

            if (isFetching === true) {
                return;
            }

            if (window.innerHeight + window.scrollY + 5 >= document.body.offsetHeight) {
                getPostCardList(); // 요청 끝나면 다시 false
            }
        });


        function getPostCardList() {
            isFetching = true;

            $.ajax({
                url: "/api/v1/posts" + "?" + "lastPublishedAt=" + lastPublishedAt + "&" + "pageSize=" + pageSize,
                method: "get",
                dataType: "json",
                success: (res) => {
                    let data = res.data;
                    lastPublishedAt = data.lastIndex;
                    pageSize = data.pageSize;
                    hasNext = data.hasNext;
                    appendPostCardList(data.data);
                    isFetching = false;
                },
                error: (data, status, error) => {
                    alert(data.responseJSON.message);
                    console.log("data : ", data);
                    console.log("status : ", status);
                    console.log("error : ", error);
                }
            });
        }

        function appendPostCardList(dataList) {
            let html = '';

            dataList.forEach(data => {
                let postCompany = data.postCompany;
                let hasCompanyInfo = postCompany && postCompany.iconImage && postCompany.iconImage.trim() !== '';

                html += `
            <a href="${data.url}">
                <h2 class="post-title">${data.title}</h2>
                <p class="post-subtitle">${data.summary}</p>
            </a>
            <div class="post-meta-container">
                ${hasCompanyInfo ? `
                    <p class="post-meta">Posted by</p>
                    <img src="${postCompany.iconImage}" alt="Company Icon"/>
                    <p class="post-meta">${postCompany.name}</p>
                    <p class="post-meta"> on ${data.publishedAt}</p>
                ` : `
                    <p class="post-meta">Posted by ${postCompany ? postCompany.name : 'Unknown'} on ${data.publishedAt}</p>
                `}
            </div>
            <hr class="my-4"/>
        `;
            });

            $("#post-card-list").append(html);
        }
    </script>
</div>

</html>
